@using ECommerce.Entity;
@model IEnumerable<Brand>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>BrandList</h2>
<table class="table table-condensed">
    <tr >
        <th>@Html.DisplayNameFor(t=> t.BrandId)</th>
        <th>@Html.DisplayNameFor(t=> t.Description)</th>
        <th>@Html.DisplayNameFor(t=> t.Photo)</th>
        <th>Delete / Edit</th>
    </tr>
    @foreach (Brand item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(t=> item.BrandId)</td>
            <td>@Html.DisplayFor(t=> item.Description)</td>
            <td><img src="~/Upload/@item.Photo" class="img-circle" style="width:75px" height="75" /></td>
            <td>
                <div class="btn btn-info">
                    @Html.ActionLink("Edit", "Edit", new { @id = item.BrandId })
                </div>
                <div class="btn btn-info">
                    @Html.ActionLink("Delete", "Delete", new { @id = item.BrandId })
                </div>
            </td>
        </tr>
    }
</table>

