@using ECommerce.Entity
@using ECommerceSample.Areas.Admin.Models.ViewModel
@model ProductViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit","Product",FormMethod.Post,new { enctype="multipart/form-data" }))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
<div>
    @ViewBag.Mesaj
</div>
<fieldset>
    <legend>Product</legend>
    @Html.HiddenFor(model => model.Product.ProductId)
    <div class="editor-label">
        @Html.LabelFor(model => model.Product.ProductName)

    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Product.ProductName)
        @Html.ValidationMessageFor(model => model.Product.ProductName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Product.Price)
    </div>
    <div class="editor-label">
        @Html.EditorFor(model => model.Product.Price)
        @Html.ValidationMessageFor(model => model.Product.Price)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Product.Stock)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model=>model.Product.Stock)
        @Html.ValidationMessageFor(model => model.Product.Stock)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Product.Brand)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.Product.BrandId,Model.BrandList)
        @Html.ValidationMessageFor(model => model.Product.BrandId)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model=> model.Product.Category)
        
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.Product.CategoryId,Model.CategoryList)
        @Html.ValidationMessageFor(model=> model.Product.CategoryId)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Product.Photo)
    </div>
    <div>
        @Html.HiddenFor(model => model.Product.Photo)
        <input type="file" name="photo"/>
        @Html.ValidationMessageFor(model=> model.Product.Photo)
    </div>
    <p>
        <input type="submit" value="Save"/>
    </p>
</fieldset>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
